@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
    --DarkBlue: hsl(209, 23%, 22%);
    --VeryDarkBlue1: hsl(207, 26%, 17%);
    --VeryDarkBlue2: hsl(200, 15%, 8%);
    --DarkGray: hsl(0, 0%, 52%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);

    --maxWidth: 128rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--background);
}

.light {
    --background: var(--VeryLightGray);
    --text: var(--VeryDarkBlue2);
    --input: var(--DarkGray);
    --elements: var(--White);
}

.dark {
    --background: var(--VeryDarkBlue1);
    --text: var(--White);
    --input: var(--White);
    --elements: var(--DarkBlue);
}

.parallax {
    background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(0, 0, 0, 0.7)),
            to(rgba(0, 0, 0, 0.7))
    ),
    url("/img/backImage.jpg") repeat fixed 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/img/backImage.jpg") repeat fixed 100%;

    color: aliceblue;
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: zoom-out;
    animation-duration: 4s;
    animation-delay: 2s;
    z-index: -1;
}

.TrendingNow-heading {
    font-weight: 800;
    color: #002f6c;
    padding-top: 15px;
    margin-bottom: 10px;
    margin-top: 0;
    border-top: 1px solid #747474;
    position: relative;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    width: 100%;
}

.TrendingNow-heading:before {
    content: "";
    height: 6px;
    width: 110px;
    background-color: #fcb700;
    position: absolute;
    top: -6px;
    left: 0;
}

.parallax-inner {
    padding-top: 20%;
    text-align: center;
    padding-bottom: 20%;
}

.parallax-inner-2 {
    margin-left: 37%;
    margin-right: auto;
    margin-top: 20%;
}

.cardwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 40px 0;
}

.cardwrapper .card {
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 30px;
    transition: 0.5s;
}

.cardwrapper .card:nth-child(1) .box .content a {
    background: #2196f3;
}

.cardwrapper .card:nth-child(2) .box .content a {
    background: #e91e63;
}

.cardwrapper .card:nth-child(3) .box .content a {
    background: #23c186;
}

.cardwrapper .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
}

.cardwrapper .card .box:hover {
    transform: translateY(-10px);
}

.cardwrapper .card .box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.03);
}

.container .card .box .content {
    padding: 20px;
    text-align: center;
}

.cardwrapper .card .box .content h2 {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.1);
}

.cardwrapper .card .box .content h3 {
    font-size: 1.8rem;
    color: #fff;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 15px;
}

.cardwrapper .card .box .content p {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    transition: 0.5s;
}

.cardwrapper .card .box .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: black;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.cardwrapper .card .box .content a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    background: #fff;
    color: #000;
}


